<template>
    <ModalLayer v-if="render" @close="switchRender">
        <ModalForm>
            <div class="form-wrapper">
                <div class="modal-form-title">{{title}}</div>
                <ModalCloseBtn @click.native="switchRender"/>
            </div>
            <slot></slot>
        </ModalForm>
    </ModalLayer>
</template>

<script lang="ts">
const ModalLayer = () => import('@/components/ModalWindows/ModalLayer.vue')
const ModalForm = () => import('@/components/ModalWindows/Elements/ModalForm.vue')
const ModalCloseBtn = () => import('@/components/ModalWindows/Elements/ModalCloseBtn.vue')

import Vue from 'vue'
import {Prop} from 'vue-property-decorator'
import Component from "vue-class-component"

@Component({
    components: {
        ModalLayer,
        ModalForm,
        ModalCloseBtn
    }
})
export default class Modal extends Vue {

    @Prop()
    private title: string

    private render: boolean = false

    switchRender(): void {
        this.render = !this.render
    }

    created() {
        this.$root.$on('render', ({ctx, value}) => {
            //@ts-ignore
            if (this.$slots.default[0].context.$options._componentTag !== ctx) return
            this.render = value
        })
    }

}
</script>
