<template>
    <div class="board" v-loading.fullscreen.lock="loading">
        <BoardPanel/>
        <BoardSubPanel/>
        <div class="board__body container">
            <slot></slot>
        </div>
    </div>
</template>

<script>
import BoardPanel from "@/components/Board/BoardPanel"
import BoardSubPanel from "@/components/Board/BoardSubPanel"
import {mapGetters} from 'vuex'

export default {
    name: 'BoardTemplate',
    data: () => ({
        loading: true
    }),
    computed: {
        id() {return this.$route.params.id},
        ...mapGetters({
            projects: ['project/getProjects'],
            query: ['tab/getTaskActive'],
            board: ['board/getBoard']
        }),
    },
    created() {
        const {dispatch} = this.$store

        dispatch('board/getUsers', this.id)
        dispatch('task/getIcons')
        dispatch('board/getById', this.id)
            .then(res => {
                const message = res?.message
                if (message) {
                    this.$router.push('/boards')
                    this.$message.warning({message, duration: 3000})
                }
                this.$gates.setRoles([this.board.role])
                console.log(this.$gates.getRoles(), 'roles')
            }).finally(() => this.loading = false)
    },
    components: {BoardPanel, BoardSubPanel}
}
</script>

<style scoped lang="scss">
.board {
    background-color: $primary-bg;
    min-height: 100vh;
}
//.board__body {padding-top: 2.5rem;}
</style>
