<template>
    <BaseAccountTemplate>
        <BoardList/>
    </BaseAccountTemplate>
</template>

<script>
    import BoardList from "@/components/Board/BoardList"
    import BaseAccountTemplate from "@/components/Account/BaseAccoutTemplate"

    export default {
        components: {BaseAccountTemplate, BoardList}
    }
</script>

