<template>
    <router-link to="/account/settings" class="avatar">
        <div class="avatar__letter">И</div>
        <div class="avatar__letter">И</div>
    </router-link>
</template>

<script>
    export default {
        name: 'Avatar',
    }
</script>

<style lang="scss" scoped>
    .avatar {
        width: 2.34375rem;
        height: 2.34375rem;
        @include flex(center, center);
        @include font-size(23);
        color: white;
        border-radius: 100%;
        background-color: $color-green;
        user-select: none;
        cursor: pointer;
    }
</style>
