<template>
<!--    @click="EventBus.$emit('switchModalISU')"-->
        <svg class="sync" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 3.72797C0 2.07111 1.34315 0.727966 3 0.727966H21C22.6569 0.727966 24 2.07111 24 3.72797V21.728C24 23.3848 22.6569 24.728 21 24.728H3C1.34315 24.728 0 23.3848 0 21.728V3.72797Z" fill="#EA4335"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8567 9.87081H8.68135C9.45877 8.77293 10.6318 8.15653 11.9996 8.15653C14.5243 8.15653 16.571 10.2032 16.571 12.728H17.7139C17.7139 9.57204 15.1555 7.01367 11.9996 7.01367C10.3972 7.01367 8.98538 7.68939 7.9996 8.88244V7.01367H6.85675V11.0137H10.8567V9.87081ZM13.1423 15.5851H15.3177C14.5403 16.683 13.3672 17.2994 11.9994 17.2994C9.47471 17.2994 7.42801 15.2527 7.42801 12.728H6.28516C6.28516 15.8839 8.84353 18.4423 11.9994 18.4423C13.6019 18.4423 15.0137 17.7665 15.9994 16.5735V18.4423H17.1423V14.4423H13.1423V15.5851Z" fill="white"/>
        </svg>
</template>

<script>
    import {EventBus} from "@/main"

    export default {
        name: 'Synchronization',
    }
</script>

<style scoped lang="scss">
    .sync {
        width: 1.25rem;
        height: 1.25rem;
        @include flex(initial, center);
        cursor: pointer;
    }

    @media only screen and (max-width: 768px) {}
</style>
